<!DOCTYPE html>
<html>
<head >
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Search Invoice</title>
<link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
	<div class="header-bg">
        <img src="/images/grocery-icon.png" alt="icon" width="80px" />
        <div>Vikas Super Mart</div>
        <div class="header-button">
            <a href="UserHome.html"><img src="/images/home-button.png" alt="home"/></a>
            <a href="home.html"><img src="/images/logout.png" alt="logout"/></a>
            
        </div>
	</div>
	<div class="container">
		<div class="home-nav-bar">
			<div class="home-nav-bar-item"><a href="/UserHome.html">Dashboard</a></div>
			<div class="home-nav-bar-item"><a href="/NewBilling.html">New Billing</a></div>
			<div class="home-nav-bar-item"><a href="/SearchInvoice.html">Search Invoice</a></div>
			<div class="home-nav-bar-item"><a href="/InventoryHome.html">Purchase</a></div>
		</div>
		<div class="home-content-bar">
<h1>Search Invoice</h1>
<form th:action="@{SearchInvoice}" th:object="${sell}" method="GET">
	<label>Invoice No: </label>
	<input type="text" th:field="*{drshBillNo}"/>
	<button type="submit">Submit</button>
</form><p/>
<table>
	<tr>
		<th>Bill#</th><th>Seller</th><th>item#</th><th>item descr</th><th>quantity</th><th>u.price</th><th>total price</th>
	</tr>
	<tr th:each = "(s : ${sell.sellDetails})">
		<td th:text = "${sell.drshBillNo}">BillNo</td>
		<td th:text = "${sell.drshSeller}">Seller</td>
		<td th:text = "${s.drsdProductCode}">Product code</td>
		<td th:text = "${s.drshBillNo}">Item Descr</td>
		<td th:text = "${s.drsdQuantity}">Quantity</td>
		<td th:text = "${s.drsdUnitPrice}">Unit Price</td>
		<td th:text = "${s.drsdTotalPrice}">Total Price</td>
	</tr>
</table><br/>
</div>

</div>
</body>
</html>